 <div class="salesPerson  pt-2">
    <div class="d-flex align-items-center  p-3 rounded rounded-4 hover-bg "
     [class.justify-content-center]="isCollapsed"
      routerLink="SalesPerson" routerLinkActive="router-link-active">
      <img [src]="'assets/images/'+personImage"   alt="sales person Image" width="40px;" height="40px" class="rounded rounded-circle ">
      <div [class.d-none]="isCollapsed" class="ps-2  flex-grow-1">
        <div class="d-flex align-item-center justify-content-between">
           <span class="fs-verySmall">{{'Welcome Back' | translate}}👋 </span>
            <i class="fa-solid fa-chevron-right small" [class.rotate]="isRtl()"></i>
        </div>
         <span class="small">{{salesPersonName}}</span>
      </div>
    </div>
  </div>
