<app-pop-screen
 [PopScreenComponentData]="{
      headerLabel:'Add Customer',
      btnLabel:'Done',
      hideCancalBtn:true
    }"
  (doneChange)="done()"
  (closeChange)="close()"
>
<div class="bg-white p-4">
<app-input [id]="'customerName'"
[label]="'Customer Name' | translate"
[vertCLass]="'col-12'"
[errorMessage]="customerNameError"
#customerName>
<i class="fa-solid fa-signature"></i>
</app-input>
<app-input [id]="'customerArabicName'"
[label]="'Customer Arabic Name' | translate"
[vertCLass]="'col-12'"
[errorMessage]="customerArabicNameError"
#customeArabicrName>
<i class="fa-solid fa-signature"></i>
</app-input>
<app-input [id]="'customerPhone'"
[label]="'Customer Phone' | translate"
[vertCLass]="'col-12'"
[errorMessage]="customerPhoneError"
#customerPhone>
<i class="fa-solid fa-phone-volume"></i>
</app-input>
</div>
</app-pop-screen>

