<app-pop-screen
 [PopScreenComponentData]="{
      headerLabel:'Add Customer',
      btnLabel:'Done',
      hideCancalBtn:true
    }"
  (doneChange)="done()"
  (closeChange)="close()"
>
<div class="bg-white p-4">
<app-input [InputComponentData]="{
                type: 'text',
                id: 'customerName',
                label: 'Customer Name',
                spanLabel: '',
                placeholder: '',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: false,
                inputGroup: false,
                clickMessage: '',
                errorMessage: customerNameError,
                enableFocusBlurTracking:false,
              }"
#customerName>
<i class="fa-solid fa-signature"></i>
</app-input>
<app-input [InputComponentData]="{
                type: 'text',
                id: 'customerArabicName',
                label: 'Customer Arabic Name',
                spanLabel: '',
                placeholder: '',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: false,
                inputGroup: false,
                clickMessage: '',
                errorMessage: customerArabicNameError,
                enableFocusBlurTracking:false,
              }"
#customeArabicrName>
<i class="fa-solid fa-signature"></i>
</app-input>
<app-input InputComponentData]="{
                type: 'text',
                id: 'customerPhone',
                label: 'Customer Phone',
                spanLabel: '',
                placeholder: '',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: false,
                inputGroup: false,
                clickMessage: '',
                errorMessage: customerPhoneError,
                enableFocusBlurTracking:false,
              }"
#customerPhone>
<i class="fa-solid fa-phone-volume"></i>
</app-input>
</div>
</app-pop-screen>

