<div class="h-100 w-100">
<app-layout
[LayoutComponentDate]="{
  route: '',
  items: products(),
  sortKey: 'price',
  header: 'Add New Products',
  subTitle: 'Start by stocking your store with products your customers will love',
  btnName: 'Add New Product',
  columns: [],
  serviceType: 'product',
  servicesList:servicesList,
  page:'Products'
}"
[close]="closeFilter"
(addNewVar)="addNew($event)"
(serviceSelected)="handleServiceAction($event)"
(displayDir)="handleDisplayDir($event)"
(deleteSelected)="deleteSelected($event)" >
      <div class="row gy-3">
        <div class="col-12 col-md-6 col-xl-4 col-xxl-3"  class="col-12"
        [ngClass]="{
          'col-md-6 col-xl-4 col-xxl-3': cardDisplayDirection == 'catalog'
        }" *ngFor="let product of products()">
          <div class="h-100">
            <app-product-card [product]="product" (checkedProduct)="checkedProductFn($event)" [type]="type()" (deleteProduct)="deleteNewProduct($event)" [cardDisplayDirection]="cardDisplayDirection"></app-product-card>
          </div>
        </div>

        <app-pagination [totalItems]="productService.pagination.totalItems()"
            [currentPage]="productService.pagination.currentPage()"
            [pageSize]="productService.pagination.pageSize()"
             (pageChanged)="setCurrentPage($event)"></app-pagination>
      </div>



  <app-filter-options filterOptions
  [sections]="filterConfig()"
  (filtersApplied)="applyFilters($event)"
  (filtersReset)="resetFilters()">
</app-filter-options>
</app-layout>
</div>


<app-create-variant  *ngIf="popupVisible()" (closeAddVariantPopScreen)="closeAddVariantPopScreen()"></app-create-variant>

