  <div class="container-fluid px-0" [class.mb-3]="!SelectInputComponentData.vertCLass">
  <div class="row align-items-center gx-2 ">
    <div   [ngClass]="SelectInputComponentData.vertCLass ? SelectInputComponentData.vertCLass : 'col-12 col-md-4 col-xxl-3'" >
                <label [id]="SelectInputComponentData.id" class="form-label small text-input">{{SelectInputComponentData.label}}</label>
    </div>
    <div    [ngClass]="SelectInputComponentData.vertCLass ? SelectInputComponentData.vertCLass : 'col-12 col-md-8 col-xxl-9'">
          <ng-select
          class="small custom-ng-select"
          [items]="SelectInputComponentData.options"
          [bindLabel]="SelectInputComponentData.prop"
          [bindValue]="SelectInputComponentData.value"
          [ngModel]="SelectInputComponentData.selected?.[SelectInputComponentData.value]"
          [clearable]="false"
          [searchable]="true"
          (change)="onSelectionChange($event)"
          >
          <ng-option [value]="null">{{ SelectInputComponentData.noOption | translate }}</ng-option>
        </ng-select>
    </div>
  </div>
 </div>
