<div class="row">
  <div class="col-12 col-lg-7 col-xl-5">
    <div class="input-group shadow-sm">
      <input
      type="text"
      class="form-control"
      placeholder="{{ selectionMessage }}"
      [(ngModel)]="searchKey"
      (ngModelChange)="onSearchKeyChange($event)"
    />

      <div class="btn-group">
        <button type="button" class="btn btn-outline-semi-light text-input fs-verySmall rounded-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          {{dropdownSelection | translate}}
        </button>
        <ul class="dropdown-menu bg-dropdown dropdown-menu-end ">
          <li (click)="changeSelection('Products')"><a class="dropdown-item text-input fs-verySmall">Products</a></li>
          <li (click)="changeSelection('Customers')"><a class="dropdown-item text-input fs-verySmall">Customers</a></li>
          <li (click)="changeSelection('Orders')"><a class="dropdown-item text-input fs-verySmall">Orders</a></li>
          <li (click)="changeSelection('Categories')"><a class="dropdown-item text-input fs-verySmall">Categories</a></li>
          <li (click)="changeSelection('Variants')"><a class="dropdown-item text-input fs-verySmall">Variants</a></li>
          <li (click)="changeSelection('Variant Types')"><a class="dropdown-item text-input fs-verySmall">Variant Types</a></li>

        </ul>
      </div>
      <button class="btn btn-semi-light" type="button" (click)="sendSearchRequest()">
        <i class="fa-solid fa-magnifying-glass fa-sm"></i>
      </button>
    </div>
  </div>
  <div class="col-lg-5 col-xl-7 text-end d-none d-lg-block">
    <span class="icon-circle me-2" (click)="showLoyalPoint()"><i class="fa-solid fa-gift "></i></span>
    <span class="icon-circle" (click)="changeTheme()"> <i class="fa-solid fa-moon"></i></span>
  </div>
</div>
