<div class="container-fluid p-4 vh-100 overflow-auto d-flex flex-column">
  <div class="row flex-column flex-grow-1">
    <!-- <div class="col-12 bg-semi-dark py-2 px-3 rounded-top-3 border-bottom"> -->
    <div class="col-12  py-2 px-3 rounded-top-3 border-bottom">
     <app-page-controls
         [PageControlsComponentData]="{
            route: '',
            type:LayoutComponentDate.serviceType ,
            items: LayoutComponentDate.items,
            sortKey: LayoutComponentDate.sortKey,
            servicesList:LayoutComponentDate.servicesList
            }"
          (addNewVar)="addNew($event)"
          (serviceSelected)="handleServiceAction($event)"
         (displayedItems)="handleDispalyedItems($event)"
         (displayDir)="handleDisplayDir($event)"
         (deleteEvent)="handleDelete($event)">
      </app-page-controls>
    </div>

    <div class="col-12  rounded-bottom-3 p-4 shadow-sm products overflow-auto d-flex flex-column"  [ngClass]="{ 'flex-grow-1': LayoutComponentDate.items.length > 0 }">
      <app-no-items
        [NoItemsComponentData]="{
            header:LayoutComponentDate.header,
            subTitle:LayoutComponentDate.subTitle,
            BtnName:LayoutComponentDate.btnName,
            route:''
        }"
        (addNewVar)="addNew($event)"
        *ngIf="noItems; else ProductTable">
      </app-no-items>
      <ng-template #ProductTable>
            <ng-content #name></ng-content>
      </ng-template>
    </div>
  </div>
</div>
