<div class="h-100 w-100">
  <app-layout
  [LayoutComponentDate]="{
    route: '',
    items: orders(),
    sortKey: 'id',
    header: 'Add New Orders',
    subTitle: 'Efficiency in every order. Excellence in every delivery.',
    btnName: 'Add New Order',
    columns: [],
    serviceType: 'order',
    servicesList:servicesList,
    page:'Orders'
  }"
  [close]="closeFilter"
  (addNewVar)="addNew($event)"
  (deleteSelected)="deleteSelected($event)" >

  <div class="row">
    <app-data-table
      class="flex-grow-1"
      [del]="del"
      [rows]="orders()"
      (rowsChanged)="updateOrders($event)"
      [columns]="columns">
    </app-data-table>
  </div>
  <app-filter-options filterOptions
  [sections]="filterConfig()"
  (filtersApplied)="applyFilters($event)"
  (filtersReset)="resetFilters()">
</app-filter-options>

  </app-layout>
  </div>

  <ng-template #invoiceTypeTpl let-row="row">
    <span>
      {{
        invoiceTypeMap[row.invoiceType] === undefined
          ? 'Unknown'
          : invoiceTypeMap[row.invoiceType]
      }}
    </span>
  </ng-template>

  <ng-template #invoiceDateTp2 let-row="row">
    <span>{{ row.invoiceDate | date: 'dd/MM/yyyy' }}</span>
  </ng-template>

  <ng-template #invoicePaymentMethodTpl let-row="row">
    <span>
      {{
        invoicePaymentMethods[row.invoiceType] === undefined
          ? 'Unknown'
          : invoicePaymentMethods[row.invoiceType]
      }}
    </span>
  </ng-template>

  <ng-template #defaultValueTpl let-row="row" let-value="value">
    {{ value && value.toString().trim() !== '' ? value : '----' }}
  </ng-template>








