
<div class="d-flex justify-content-center" *ngIf="totalItems > pageSize">
  <nav aria-label="Page navigation">
  <ul class="pagination custom-pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a
        class="page-link"
        href="#"
        (click)="onPrevClick($event)"
        [attr.aria-disabled]="currentPage === 1"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li
      class="page-item"
      *ngFor="let page of pages"
      [class.active]="page === currentPage"
    >
      <a
        class="page-link"
        href="#"
        (click)="onPageClick($event, page)"
      >
        {{ page }}
      </a>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a
        class="page-link"
        href="#"
        (click)="onNextClick($event)"
        [attr.aria-disabled]="currentPage === totalPages"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
