
<ng-template #content>
  <ng-content></ng-content>
  <span class="fw-light ps-2" [class.d-none]="NavitemComponentData.isCollapsed"

      >
    {{ NavitemComponentData.navItemName.split('_').join(' ') | translate }}
  </span>
</ng-template>

<ng-container *ngIf="NavitemComponentData.navItemName === 'Shopping'">
  <div class="d-flex align-items-center rounded rounded-4 hover-bg"
       [ngClass]="NavitemComponentData.classes"
       [class.justify-content-center]="NavitemComponentData.isCollapsed"
       [title]="NavitemComponentData.navItemName | translate"
       #shopping>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="['Hold_Orders', 'Return_Order', 'End_Day','Arabic','اللغة الإنجليزية','Add_Variant'].includes(NavitemComponentData.navItemName)">
  <div class="d-flex align-items-center rounded px-3 mb-2 rounded-4 hover-bg"
       [ngClass]="NavitemComponentData.classes"
       [class.justify-content-center]="NavitemComponentData.isCollapsed"
       [title]="NavitemComponentData.navItemName | translate"
       (click)="handleSpecialClick(NavitemComponentData.navItemName)">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!['Shopping', 'Hold_Orders', 'Return_Order', 'End_Day','Arabic','اللغة الإنجليزية','Add_Variant'].includes(NavitemComponentData.navItemName)">
  <div class="d-flex align-items-center px-3 mb-2 rounded rounded-4 hover-bg"
       [ngClass]="NavitemComponentData.classes"
       [class.justify-content-center]="NavitemComponentData.isCollapsed"
       [routerLink]="NavitemComponentData.navItemName"
       routerLinkActive="router-link-active"
       [title]="NavitemComponentData.navItemName | translate">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-container>
