
<ng-template #content>
  <ng-content></ng-content>
  <span class="fw-light ps-2" [class.d-none]="isCollapsed"

      >
    {{ navItemName.split('_').join(' ') | translate }}
  </span>
</ng-template>

<ng-container *ngIf="navItemName === 'Shopping'">
  <div class="d-flex align-items-center rounded rounded-4 hover-bg"
       [ngClass]="classes"
       [class.justify-content-center]="isCollapsed"
       [title]="navItemName"
       #shopping>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="['Hold_Orders', 'Return_Order', 'End_Day','Arabic','اللغة الإنجليزية'].includes(navItemName)">
  <div class="d-flex align-items-center rounded px-3 mb-2 rounded-4 hover-bg"
       [ngClass]="classes"
       [class.justify-content-center]="isCollapsed"
       [title]="navItemName"
       (click)="handleSpecialClick(navItemName)">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!['Shopping', 'Hold_Orders', 'Return_Order', 'End_Day','Arabic','اللغة الإنجليزية'].includes(navItemName)">
  <div class="d-flex align-items-center px-3 mb-2 rounded rounded-4 hover-bg"
       [ngClass]="classes"
       [class.justify-content-center]="isCollapsed"
       [routerLink]="navItemName"
       routerLinkActive="router-link-active"
       [title]="navItemName">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-container>
