:root, .dark-theme{

--error-color:lab(40.4% 62.01 47.72);

--secondary-color:#003535;
--active-color:#00b7a7;
--light-color:#eefffb;

--semi-dark-color:#00857d;
--semi-light-color:#c5fff6;
--text-color:#eefffb;
--hover-color:#F8F9FA;
--dark-color:#212121;
--gray-color:#424444;


--secondary-color:#282828;

//Input filed styles
--input-color:#3d3c3c;
--input-text-color:#cccfd0;
--input-placeHolder-color:#828485;
--outline-color:#3d3c3c;
--input-border-color:#3d3c3c;
--input-group-text-bg-color:#333333a1;


//Page Controls styles
--text-breadCrumb-color:#00b7a7;
--text-breadCrumb-secondary-color:#726f6f;
--text-icon-muted:#bbbcbc;

--bg-card-body-color:#212121;

--bg-dropdown:#3d3c3c;
--bg-card-Btn:#3d3c3c;
--bg-submit-btn:#636161;

--bg-popscreen-pop:#272626;
--bg-popscreen-header:#6e6c6c;
--bg-popscreen-footer:#6e6c6c;
--bg-filter:#212121;
--text-btn:#fff;
--secondary-light-color:#282828;
--bg-keypad:#3d3c3c;
--net-total-border:#3d3c3c;
--payment-border:transparent;

}
