
:root, .light-theme{
--dark-color:#003535;
--semi-dark-color:#00857d;
--error-color:#be1412;
--light-color:#eefffb;
--secondary-color:#F8F9FA;
--active-color:#00b7a7;
--gray-color:#EBEDEE;

--semi-light-color:#c5fff6;
--text-color:#003535;
--hover-color:#EBEDEE;



//Input filed styles
--input-color:#fff;
--input-text-color:#585C5E;
--input-placeHolder-color:#585C5E;
--outline-color:#fff;
--input-border-color:#DEE2E6;
--input-group-text-bg-color:#F8F9FA;
--gray-color:#a6aaab;

//Page Controls styles
--text-breadCrumb-color:#3F6263;
--text-breadCrumb-secondary-color:#9f9d9d;
--text-icon-muted:#3F6263;

--bg-card-body-color:#fff;

--bg-dropdown:#fff;
--bg-card-Btn:#F8F8F8;
--bg-submit-btn:var(--semi-dark-color);

--bg-popscreen-pop:#fff;
--bg-popscreen-header:var(--semi-dark-color);
--bg-popscreen-footer:#F8F9FA;
--bg-filter:#fff;
--text-btn:#fff;
--secondary-light-color:rgba(252, 249, 249, 0.416);
--bg-keypad:#EFEFEF;
--net-total-border:#3F6263;
--payment-border:#dbd8d8;

}
