/* You can add global styles to this file, and also import other style files */

@use 'variables' as *;
@use './light-theme';
@use './dark-theme';
@use './red-theme';
@use './orange-theme';
@use './purple-theme';
@use './blue-theme';
@use './green-theme';

html {
    &[dir='rtl']{
        .arrowIcon{
            transform: rotate(180deg) !important;
      }

    }

  font-size: 16px;
  body{
  font-family: 'Poppins', sans-serif;
  color:$text-color;
  }
  .border-light{

    border:1px solid $input-border-color !important;
  }
  .border-start-color {
    border-color:$gray !important;
  }
  .border-end-color {
    border-color:$gray !important;
  }
  .text-input{
    color:$input-text-color !important;
  }
  .text-inactive{
    color:$text-breadCrumb-secondary-color;
  }
  .bg-card-body{
    background-color:$bg-card-body-color !important;
  }

  .bg-dropdown{
    background-color:$bg-dropdown;
  }
  .bg-card-Btn{
    background-color: $bg-card-Btn;
    color:$input-text-color;
  }
  .bg-submit-btn{
    background-color: $bg-submit-btn !important;
  }
  .bg-popscreen{
    background-color: $bg-popscreen-pop;
  }
  .bg-popscreen-header{
    background-color: $bg-popscreen-header !important;
  }
  .bg-popscreen-footer{
    background-color: $bg-popscreen-footer !important;
  }
  .bg-filter{
    background-color: $bg-filter;
  }
  .bg-gray{
    background-color: $gray;
  }
  .bg-light{
    background-color: $light;
  }
  .bg-semi-light{
    background-color: $semi-light;
  }
  .bg-second{
    background-color: $secondary;
  }
  .fs-verySmall{
    font-size:10px !important;
  }
  .small{
    font-size:13px !important;
  }
  .fs-medium{
    font-size:14px !important;
  }
  .fs-xxs{
        font-size:6px !important;
  }
  .bg-dark{
    background-color: $dark !important;
  }
  .bg-semi-dark{
    background-color: $semi-dark;
  }
  .hover-bg:hover {
  background-color: $semi-dark ;
  color:$hover-color;
  transition: background-color 0.3s ease;
  }
  .text-btn{
    color:$text-btn;
  }
  .router-link-active{
    background-color:$activeColor;
  }
  .bg-white{
    background-color: white;
  }
  .text-semi-dark{
    color:$semi-dark;
  }
  .section-style{
    border:.5px solid $bg-secondary-light;
    background-color: $bg-secondary-light;;
  }


 ::-webkit-scrollbar-track {
  background:transparent;
}

 ::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid transparent;
  background-clip: content-box;
}
 input {
  padding-inline-start: 2rem !important;
  font-size: .7rem !important;
  &::placeholder{
    font-size: .7rem;
    font-weight:300;
  }
  &:focus {
    border-color: $semi-dark !important;
    box-shadow: none !important;
  }
  // Chrome, Safari, Edge, Opera
&[type='number']::-webkit-outer-spin-button,
&[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// Firefox
&[type='number'] {
  appearance:textfield ;
  -moz-appearance: textfield;
}
&[type='checkbox'] {
 padding:10px !important;
}
}

.custom-radio-style .form-check-input {
  appearance: radio;
}

.custom-radio-style .form-check-input {
  // appearance: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  background-color: #fff;
  position: relative;
  top:2px;
}
input.form-control{
  background-color: $input-color !important;
  color:$input-text-color !important;
  border-color: $input-border-color;
  &::placeholder {
    color: $input-placeHolder-color !important;
    opacity: 1;
  }
}

.payment input.form-control{

  border-color: $payment-border;
}

.dropdown-menu {
  z-index:999999;
}

.popScreenContainer {
  position: fixed;
  inset: 0;
  z-index: 20000000 !important;
  background: #00857c6f;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

 .popScreenContent {
  max-width: 70%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .popScreenContent {
    max-width: 90%;
  }
}
.toast-success {
  background-color: $semi-dark !important;
}
#toast-container.toast-top-right {
  z-index: 999999999 !important;
}
 .closeIcon{
  position: absolute;
  inset-inline-start: 10px;
  top:10px;
 }
  .summary,.payment{
    input{
      border-radius: 8px;
      width:100%;
      padding:6px;
      border:1px solid transparent;
      background-color: #f0f0f0;
       &:focus{
        border:1px solid $semi-dark;
        box-shadow:1px 1px 1px  $semi-dark !important;
        outline: none;
      }
    }

}
.paymentButtons,.keypad{
     button{
        padding:1.5rem;
        background-color: $bg-keypad;
        color:$input-text-color;
        border:none;
        border-radius: 8px;
        font-size:1.2rem;
        &:hover{
          background-color: $semi-dark;
          color:$light;
        }
    }
}
.section_2{
  .btn{
    padding:.36rem 1.5rem;

    &:hover{
      background-color: $semi-dark !important;
      color:$light !important;
    }
  }
  width:100%;
  @media screen and (min-width: 992px) {
    width:400px;
  }
  @media screen and (min-width: 1400px) {
    width:500px;
  }
   @media screen and (min-width: 1600px) {
    width:700px;
  }
}

}

