@use 'variables' as *;

  .position-relative {
  &:focus-within {
    .input-icon{
      color: $semi-dark !important;
    }
  }
  .input-icon{
  inset-inline-start: 8px;
  inset-inline-end: auto;
  top:50%;
  // color:#000;
  color:$input-text-color;
  font-size: .8rem;
  opacity: .4;
  transform: translateY(-50%);
  z-index:100000;
}

 input.form-control:focus + .input-group-text {
    border-color: $semi-dark;
  }
   input.form-control:focus + .input-group-text {
    border-color: $semi-dark;
  }

  // input.form-control{
  //   background-color: $input-color !important;
  //   color:$input-text-color !important;

  //   &::placeholder {
  //     color: $input-text-color !important;
  //     opacity: 1; // Ensure full opacity (optional)
  //   }
  // }
}
