<div class="container-fluid">
  <div class="d-flex align-items-center">
     <!-- <app-input-checkbox   [InputCheckboxComponentData]="{ value:order.code,  id:order.code, label:''}"
      (checked)="getOrderCode($event)">
     </app-input-checkbox> -->
  <app-input-checkbox   [InputCheckboxComponentData]="{ value:order.id,  id:order.id, label:''}"
      (checked)="getOrderId($event)">
     </app-input-checkbox>
  <!-- <div class="row align-items-center flex-grow-1" (click)="showOrder(order.id)"> -->
  <div class="row align-items-center flex-grow-1">
    <div class="col-8 col-md-6 col-lg-7 col-xl-8  text-start">
       <app-client-info
       [ClientInfoData]="{
        order: order,
        additionalInfo: 0,
        flexGrow: true,
      }"
      (checkedItemCode)="getOrderId($event)">
          <span class="small d-flex align-items-center  text-secondary">
        <!-- <i
            class="fa fa-circle fs-xxs pe-1"
            [ngClass]="{
              'text-warning': order.status === 'hold',
              'text-semi-dark': order.status === 'paid',
              'text-danger': order.status === 'cancalled',
            }"
            aria-hidden="true">
          </i> -->
               <i
            class="fa fa-circle fs-xxs pe-1"
            [ngClass]="{
              'text-warning': order.invoiceType === 1,
              'text-semi-dark': order.invoiceType === 2,
              'text-danger': order.invoiceType === 4,
            }"
            aria-hidden="true">
          </i>
          <!-- <span class="fs-verySmall">{{ order.status | translate }}</span> -->
            <span class="fs-verySmall">{{ getStatus(order.invoiceType) | translate }}</span>
          </span>
     </app-client-info>
    </div>
    <div class="col-4 col-md-6 col-lg-5 col-xl-4">
       <div class="row ">
      <div class="col-12  col-lg-5 text-end text-lg-center">
        <span class="small">
          {{order.totalAfterTax}} {{currency | translate}}
        </span>
      </div>
      <div class="col-12 col-lg-4 text-end text-lg-center">
                 <span class="fs-verySmall text-secondary">{{order.invoiceDate  | newDate:isRtl()}}</span>
      </div>
         <div class="col-12 col-lg-3 text-end text-lg-center">
        <span class="fs-verySmall text-secondary">
          <i class="fa-solid fa-print fa-xl pe-4" (click)="printOrder()"></i>
           <i class="fa-solid fa-right-left fa-xl" (click)="returnOrder()"></i>
          </span>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
