<div class="container-fluid">
  <div class="d-flex align-items-center">
     <app-input-checkbox  [value]="order.code" [id]="order.code" (checked)="getOrderCode($event)"></app-input-checkbox>
  <div class="row align-items-center flex-grow-1" (click)="showOrder(order.id)">
    <div class="col-8 col-md-6 col-lg-8 col-xl-9 col-xxl-9 text-start">
       <app-client-info [order]=order [additionalInfo]="order.code" [flexGrow]="true" (checkedItemCode)="getOrderCode($event)">
          <span class="small d-flex align-items-center  text-secondary">
        <i
            class="fa fa-circle fs-xxs pe-1"
            [ngClass]="{
              'text-warning': order.status === 'hold',
              'text-semi-dark': order.status === 'paid',
              'text-danger': order.status === 'cancalled',
              'text-info': order.status === 'processing'
            }"
            aria-hidden="true">
          </i>
          <span class="fs-verySmall">{{ order.status | translate }}</span>
          </span>
     </app-client-info>
    </div>
    <div class="col-4 col-md-6 col-lg-4 col-xl-3  col-xxl-3">
       <div class="row ">
      <div class="col-12 col-lg-6 text-end text-lg-center">
        <span class="small">
          {{order.grossTotal}} {{currency | translate}}
        </span>
      </div>
      <div class="col-12 col-lg-6 text-end text-lg-center">
        <span class="fs-verySmall text-secondary">{{'since' | translate}} {{timeDifference.value}} {{timeDifference.unit | translate}}</span>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
