<div class="d-flex flex-column h-100">

  <div class="payment border-top border-bottom py-3" >
  <div class="d-flex align-items-center justify-content-between  mb-2">
      <h6 class="text-decoration-underline mb-0">Payment Methods</h6>
      <span class="fs-verySmall text-danger" [class.d-none]="mustBePaid">Total Amount must be Paid</span>
    </div>
    <div class="container-fluid px-0">
      <div class="row gy-2">
        <div class="col-12" *ngFor="let method of paymentMethods">
          <div class="row align-items-center" [id]="method.label + ' Method'">
            <div class="col-6 text-start">
              <span>{{ method.label }} :</span>
            </div>
            <div class="col-6">
               <div class="w-100">
              <app-input
                #inputRef
                [id]="method.name"
                type="text"
                spanLabel="SAR"
                placeholder="'0.00'"
                [inputGroup]="true"
                [hideLabel]="true"
                [vertCLass]="'col-12'"
                (focus)="setActiveInput(method.focusKey, inputRef.nativeInput)"
                (input)="setValueFromInputEvent(method.focusKey, $event)"
              >
                <i class="fa-solid fa-money-bill-1-wave"></i>
              </app-input>
            </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-6 text-start"><span>Paid :</span></div>
            <div class="col-6 text-end"><span>{{paidAmount()}} SAR</span></div>
          </div>
        </div>
          <div class="col-12">
          <div class="row">
            <div class="col-6 text-start"><span>Due Amount :</span></div>
            <div class="col-6 text-end"><span>{{calculateDueAmount()}} SAR</span></div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 text-start"><span>Reminder :</span></div>
            <div class="col-6 text-end"><span>{{ calculateReminder() }} SAR</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="keyboard  py-3 d-flex justify-content-center align-items-start " >
    <div class="row gy-2 w-100">
      <div class="col-12" *ngFor="let row of keypad">
        <div class="row g-2">
          <div class="col flex-grow-1" *ngFor="let key of row">
            <button class="w-100" (click)="enterKey(key)">{{ key }}</button>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="row gy-2">
          <div class="col-12">
            <button class="btn w-100 bg-dark text-light" (click)="pay_Order()">Pay</button>
          </div>

          <div class="col-12">
            <div class="row gx-2">
              <div class="col-6">
                <button class="btn w-100 bg-secondary text-light" (click)="hold_Order()">Hold</button>
              </div>
              <div class="col-6">
                <button class="btn w-100 bg-danger text-light" (click)="cancal_Order()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
