<div class="d-flex flex-column h-100">

  <div class="payment border-top border-bottom py-2" >
  <div class="d-flex align-items-center justify-content-between  mb-2">
      <h6 class="text-decoration-underline mb-0">{{'Payment Methods' | translate}}</h6>
      <span class="fs-verySmall text-danger" [class.d-none]="mustBePaid">{{'Total Amount must be Paid' | translate}}</span>
    </div>
    <div class="container-fluid px-0">
      <div class="row border-bottom pb-2 mb-2 gy-2">
        <div class="col-12" *ngFor="let method of paymentMethods">
          <div class="row align-items-center" [id]="method.label + ' Method'">
            <div class="col-6 text-start">
              <span class="small">{{ method.label | translate }} :</span>
            </div>
            <div class="col-6">
               <div class="w-100">
              <app-input
                #inputRef
                [id]="method.focusKey"
                type="text"
                [spanLabel]="currency | translate "
                placeholder="0.00"
                [inputGroup]="true"
                [hideLabel]="true"
                [vertCLass]="'col-12'"
                (focus)="setActiveInput(method.focusKey, inputRef)"
                (input)="setValueFromInputEvent(method.focusKey, $event)"
              >
                <i class="fa-solid fa-money-bill-1-wave"></i>
              </app-input>
            </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row gy-2">
        <div class="col-12">
          <div class="row">
            <div class="col-6 text-start small"><span>{{'Due Amount' | translate}} :</span></div>
            <div class="col-6 text-end small"><span>{{calculateDueAmount()}} {{currency | translate }}</span></div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 text-start small"><span>{{'Paid' | translate}} :</span></div>
            <div class="col-6 text-end small"><span>{{paidAmount()}} {{currency | translate }}</span></div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 text-start small"><span>{{'Reminder' | translate}} :</span></div>
            <div class="col-6 text-end small"><span>{{ calculateReminder() }} {{currency | translate }}</span></div>
          </div>
        </div>
        </div>
     </div>
  </div>

  <div class="keyboard  py-3 d-flex justify-content-center align-items-start " >
    <div class="row gy-2 w-100">
       <div class="col-12">
        <app-keypad (key)="enterKey($event)"></app-keypad>
       </div>

       <div class="col-12">
        <app-payment-buttons
         [order]="order"
         [inputMap]="inputMap"
        (mustBePaid)="setMustbePaid($event)"
        (clearCustomer)="clearCustomerFn()"
        [getPaidAmount]="getPaidAmount.bind(this)"></app-payment-buttons>
      </div>
    </div>
  </div>
</div>
