<app-pop-screen
   [PopScreenComponentData]="{
  headerLabel:'Product Details',
  btnLabel:'Save Product Details',
  hideCancalBtn:false
 }"
  (closeChange)="closeProductPopscreen()"
  (doneChange)="saveProductDetails()"
  #productInfo
 >
  <div class="px-3 bg-white pb-3"   >

<div class="row gy-3 py-2">
  <!-- <div class="col-12">
    <span class="small text-danger" *ngIf="errorMessage">Check your details or internet connection</span>
  </div> -->
  <div class="col-12">
<app-dropdown
            [DropdownComponentData]="{
                  title:'Require Shipping/Delivery?',
                  dropdownSelection:dropdownSelection,
                  optionsArray:shippingOptions,
                  key:'title',
                  noBorder:false
            }"
          (changeSelect)="changeSelect($event,'requireShipping')"
          >
        </app-dropdown>
  </div>
  <div class="col-12">
    <div class="d-fles flex-column">
      <span class="small">{{'Product Weight' | translate}}</span>
      <div class="d-flex">
        <app-input
          [InputComponentData]="{
                type: 'text',
                id: 'ProducWeight',
                label: '',
                spanLabel: '',
                placeholder: 'Product Weight',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: true,
                inputGroup: false,
                clickMessage: '',
                errorMessage: '',
                enableFocusBlurTracking: false,
              }"
          class="flex-grow-1"
          #productWeight
        >
         <i class="fa-solid fa-weight-scale"></i>
        </app-input>
      <app-dropdown
            class="ms-1 bg-second rounded-1"
            [DropdownComponentData]="{
                  title:'',
                  dropdownSelection:weightDropDownSelection,
                  optionsArray:weightOptions,
                  key:'title',
                  noBorder:true
            }"
          (changeSelect)="changeSelect($event,'weightUnit')"
          >
        </app-dropdown>
      </div>
    </div>
  </div>
  <div class="col-12">
     <app-input
       [InputComponentData]="{
                type: 'text',
                id: 'productCostPrice',
                label: 'Cost Price',
                spanLabel: '',
                placeholder: 'Cost Price',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: false,
                inputGroup: false,
                clickMessage: '',
                errorMessage: '',
                enableFocusBlurTracking: false,
              }"
          #productCostPrice
        >
         <i class="fa-solid fa-money-bill-1-wave"></i>
        </app-input>
  </div>
   <div class="col-12">
    <div class="row gx-2">
      <div class="col-6">
         <app-input
            [InputComponentData]="{
                type: 'text',
                id: 'salePrice',
                label: 'Sale Price',
                spanLabel: '',
                placeholder: 'Sale Price',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: false,
                inputGroup: false,
                clickMessage: '',
                errorMessage: '',
                enableFocusBlurTracking: false,
              }"
          #salePrice
        >
         <i class="fa-solid fa-money-bill-1-wave"></i>
        </app-input>
      </div>
         <div class="col-6">
         <app-input
           [InputComponentData]="{
                type: 'Date',
                id: 'SaleEndDate',
                label: 'Valid till',
                spanLabel: '',
                placeholder: 'Sale Price end date',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: false,
                inputGroup: false,
                clickMessage: '',
                errorMessage: '',
                enableFocusBlurTracking: false,
              }"
          #salePriceEndDate
        >
        <i class="fa-solid fa-calendar"></i>
        </app-input>
      </div>
    </div>
  </div>
    <div class="col-12">
     <app-input
        [InputComponentData]="{
                type: 'text',
                id: 'barcode',
                label: 'Product Barcode',
                spanLabel: '',
                placeholder: 'Product Barcode',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: false,
                inputGroup: false,
                clickMessage: '',
                errorMessage: '',
                enableFocusBlurTracking: false,
              }"
          #barcode
        >
        <i class="fa-solid fa-barcode"></i>
        </app-input>
  </div>
</div>
</div>
</app-pop-screen>
