<div class="switcher-body">
  <button
    class="btn bg-submit-btn btn-switcher shadow-sm theme"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasScrolling"
    aria-controls="offcanvasScrolling"
  >
  <i class="fa-solid fa-palette me-0 text-white"></i>
  </button>

  <div
    class="offcanvas offcanvas-end shadow border-start-0 p-2 bg-filter"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
  >
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title text-input small">{{'Theme Customizer' | translate}}</h5>
      <button
        type="button"
        class="btn-close text-reset text-input"
        data-bs-dismiss="offcanvas"
      ></button>
    </div>

    <div class="offcanvas-body">
      <h6 class="mb-0  text-input small">{{'Theme Variation' | translate}}</h6>
      <hr class="bg-card-Btn"/>
      <div class="d-flex  flex-column ">
         <div class="form-check custom-radio-style">
        <input class="form-check-input " type="radio" name="Theme" id="light" [checked]="selectedTheme() == 'light'" (change)="changeTheme('light')">
        <label class="form-check-label ps-1 text-input small" for="light">
          {{'Light Theme' | translate}}
        </label>
      </div>
      <div class="form-check custom-radio-style">
        <input class="form-check-input" type="radio" name="Theme" id="dark" [checked]="selectedTheme() == 'dark'" (change)="changeTheme('dark')">
        <label class="form-check-label ps-1 text-input small" for="dark">
          {{'Dark Theme' | translate}}
        </label>
      </div>
      </div>
      <hr class="bg-card-Btn"/>
      <h6 class="mb-0 text-input small">{{'Change Colors' | translate}}</h6>
      <hr class="bg-card-Btn"/>
      <div class="header-colors-indigators">
        <div class="row row-cols-auto g-3">
          <div class="col" *ngFor="let color of homeHeaderColors">
            <div *ngIf="color.name != 'none'"
              class="indigator rounded rounded-3"
              [ngStyle]="{ 'background-color': color.color }"
              (click)="changeHeaderColor(color)"
            ></div>
            <div *ngIf="color.name == 'none'"
            class="indigator rounded rounded-3  border d-flex align-items-center justify-content-center"
            [ngStyle]="{ 'background-color': color.color }"
            (click)="changeHeaderColor(color)"
          ><i class="fa-solid fa-ban"></i>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
