@use "variables.scss" as *;
.searchContainer{
     z-index:100001;
}
.list-group{
    border-radius: 4px !important;
    background-color: $bg-dropdown !important;
    top:54px;
    width:100%;
    inset-inline-start:0px;
    z-index:100001;
     @media (min-width: 768px) {
        top:27px;
        width:66%;
        inset-inline-start:34%;
      }
    @media (min-width: 1400px) {
        width:75%;
        inset-inline-start:25%;
      }
   li{
    background-color: $bg-dropdown;
    color:$input-text-color  !important;
    border:.3px solid $secondary !important;
   }
}

@media (min-width: 992px) {
  .paymentSection {
    overflow-y: auto;
    white-space: nowrap;
  }
  .section_2Container{
    height: 100vh;
  }
}
