<div class="container-fluid px-0  overflow-auto" style="height: 100vh;">
  <div class="row g-2" >
  <div class="col-12 col-lg flex-grow-1 py-3" style="height: 100vh;">
  <div class="d-flex flex-column section-style rounded rounded-3 px-4 py-3" style="height: 100%;">
    <div class="flex-grow-0 searchInputs border-bottom">
     <div class="position-relative w-100 searchContainer">
      <app-input [id]="'findProductByName'" [label]="'Find By Name' | translate"
      (input)="searchProductsByName($event)"  (focus)="handleSearchByNameFocus('focus')" [enableFocusBlurTracking]="true" (blur)="handleSearchByNameFocus('blur')"  #searchInputByName>
        <!-- <i class="fa-solid fa-magnifying-glass" [class.d-none]="nameSearch"></i> -->
        <i class="fa-solid fa-magnifying-glass" ></i>

      </app-input>
          <ul
            class="list-group  position-absolute shadow-sm z-3"
            *ngIf="searchItems.length > 0"
            style="max-height: 330px; overflow-y: auto;"
          >
            <li
              class="list-group-item py-1 list-group-item-action"
              *ngFor="let item of searchItems"
              (click)="selectItem(item)"
            >
              {{ isRtl() ? item.nameAr : item.name }}
            </li>
          </ul>
      </div>
      <!-- <zxing-scanner
  [formats]="formatsEnabled"
    [device]="selectedDevice"
  (scanSuccess)="handleBarcodeResult($event)"
  >
</zxing-scanner> -->
      <div class="py-3">
        <app-input [id]="'findProductByBarcode'" [label]="'Find By Barcode' | translate"  (input)="searchProductsByBarcode($event)" #searchInputByBarcode >
        <!-- <i class="fa-solid fa-magnifying-glass" [class.d-none]="barcodeSearch"></i> -->
         <i class="fa-solid fa-magnifying-glass"></i>
      </app-input>
      </div>
    </div>
    <div class="flex-grow-1 pb-3" style="min-height: 0;">
      <app-order-products [isRtl]="isRtl"></app-order-products>
    </div>
    <div class="flex-grow-0 mt-3 border-top">
      <app-summary></app-summary>
    </div>
  </div>
</div>
  <div class="col-12 col-lg-auto py-3" style="height: 100vh;">
  <div class="section_2 section-style rounded rounded-3 h-100 pt-3 px-4 d-flex flex-column">
    <div class="d-flex mb-3  align-items-center  selectCustomerContainer flex-grow-0">
      <app-select-input
      [SelectInputComponentData]="{
        selected:selectedCustomer,
        label: 'Select Customer',
        id:'customer',
        options: customers(),
        prop:  isRtl()?'nameAr' :'name',
        value: 'id',
        vertCLass:'col-12',
        noOption:'Select Customer'
        }"
        (selectedOption)="selectedCustomerEvent($event)"
        class="flex-grow-1">
      </app-select-input>
      <button class="btn bg-dark  align-self-end ms-2" (click)="showAddNewCustomerForm()">
        <i class="fa-solid text-white fa-plus"></i>
      </button>
    </div>
    <div class="flex-grow-1 overflow-auto" style="min-height: 0;">
      <div class="d-flex flex-column h-100">
        <app-home-payment class="flex-grow-1 h-100" [order]="order" (clearCustomer)="clearCustomerFn()"></app-home-payment>
      </div>
    </div>

  </div>
</div>
  </div>
</div>


<app-add-in-voice-new-customer *ngIf="addNewCustomer" (closeCustomerForm)="closeCustomerForm()">

</app-add-in-voice-new-customer>
