  <div class="d-flex align-items-center" [class.flex-grow-1]="flexGrow">
                <span class="px-3">
                    <img [src]="'assets/images/'+personImage"   alt="customer image" width="40px;" height="40px" class="rounded rounded-circle ">
                </span>
                  <div class="d-flex flex-column  justify-content-center">
                    <span class="pb-1">
                      {{
                      ( customerName || 'unknown') |translate |titlecase
                      }}
                    </span>
                    <div class="d-flex align-items-center">
                          <span class="pe-2 fs-verySmall text-secondary">{{additionalInfo}}</span>
                            <ng-content></ng-content>
                        </div>
                  </div>
              </div>
