 <app-pop-screen
 [PopScreenComponentData]="{
      headerLabel:CompoenentData.header,
      btnLabel:'Done',
      hideCancalBtn:true
    }"
  (doneChange)="done()"
  (closeChange)="close()"
>
<div class="bg-popscreen p-4">
  <div class="row">
      <div class="col-lg-4" *ngFor="let field of inputFields">
     <app-input
      [InputComponentData]="{
        type: field.type || 'text',
        id: field.id,
        label: field.label,
        spanLabel: '',
        placeholder: '',
        vertCLass: 'col-12',
        readonly: false,
        hideLabel: false,
        inputGroup: false,
        clickMessage: '',
        errorMessage: errorMessages[field.id] || '',
        enableFocusBlurTracking: false
      }"
      #inputComp
    >
      <i [class]="field.icon"></i>
    </app-input>
  </div>
  <div class="col-lg-4">
    <app-dropdown
    [DropdownComponentData]="{
          title:'Customer Type',
          dropdownSelection:customerTypeSelection,
          optionsArray:customerTypes,
          key:'title',
          noBorder:false
    }"
  (changeSelect)="changeSelect($event,'customerType')"
  >
</app-dropdown>
</div>
<div class="col-lg-4">
    <app-dropdown
    [DropdownComponentData]="{
          title:'Active',
          dropdownSelection:ActiveDropDownSelection,
          optionsArray:ActiveOptions,
          key:'title',
          noBorder:false
    }"
  (changeSelect)="changeSelect($event,'isActive')"
  >
</app-dropdown>
</div>
</div>
</div>
</app-pop-screen>





