<app-pop-screen
     [PopScreenComponentData]="{
      headerLabel:config.label,
      btnLabel: config.label,
      hideCancalBtn:false
    }"
  (closeChange)="clearForm()"
  (doneChange)="create()"
  #popScreen
>
<div class="px-3 bg-white pb-3">
  <app-input
  [InputComponentData]="{
              type: 'text',
              id: 'Name',
              label: '',
              spanLabel: '',
              placeholder: 'Enter Name',
              vertCLass: 'col-12',
              readonly: false,
              hideLabel: false,
              inputGroup: false,
              clickMessage: '',
              errorMessage:  errorMessage | translate,
              enableFocusBlurTracking: false,
            }"
    #Name
  >
    <i class="fa-solid fa-text-width"></i>
  </app-input>
  <app-input
  [InputComponentData]="{
              type: 'text',
              id: 'ArabicName',
              label: '',
              spanLabel: '',
              placeholder: 'Enter Arabic Name',
              vertCLass: 'col-12',
              readonly: false,
              hideLabel: false,
              inputGroup: false,
              clickMessage: '',
              errorMessage:  errorArabicrMessage | translate,
              enableFocusBlurTracking: false,
            }"
    #NameAr
  >
    <i class="fa-solid fa-text-width"></i>
  </app-input>
  <app-dropdown
  [DropdownComponentData]="{
        title:'Active Status',
        dropdownSelection:ActiveDropDownSelection,
        optionsArray:ActiveOptions,
        key:'title',
        noBorder:false
  }"
(changeSelect)="changeSelect($event,'isActive')"
>
</app-dropdown>
</div>
</app-pop-screen>
