 <div class="option border-bottom py-2 px-1  mb-3">
  <div class="fs-verySmall text-success" *ngIf="successMessage">New Value has been added Successfully</div>
   <div class="row g-2 align-items-start">
     <div class="col-lg-6 ">
         <div class="border rounded-1 h-100">
             <app-dropdown
            [DropdownComponentData]="{
                  title:'',
                  dropdownSelection:variantSelection,
                  optionsArray:preSetVariants(),
                  key:'name',
                  noBorder:false
            }"
           (changeSelect)="chooseVariantName($event)"
          >
            <i class="fa-solid fa-clipboard-check fa-sm text-secondary pe-2"></i>
        </app-dropdown>
         </div>
      </div>
       <div class="col-lg-6 ">
         <div class="border rounded-1 h-100">
            <app-dropdown
            [DropdownComponentData]="{
                  title:'',
                  dropdownSelection:variantSelectValue,
                  optionsArray:variantValues,
                  key:'name',
                  noBorder:false,
            }"
          (changeSelect)="chooseOption($event)"
          >
            <i class="fa-solid fa-clipboard-check fa-sm text-secondary pe-2"></i>
        </app-dropdown>
         </div>
      </div>
      <div class="col-12" >
      <ng-container *ngFor="let value of values(); let index = index;">
        <div class="varianOption shadow-sm bg-second rounded-2  py-1 d-flex flex-column flex-sm-row align-items-center">
          <div class="d-flex align-items-center flex-grow-1">
            <div class="pe-2 align-self-start">
                  <i class="fa-solid fa-location-arrow text-semi-dark"></i>
            </div>
            <div class="flex-grow-1 position-relative">
              <app-input
                [InputComponentData]="{
                type: 'text',
                id: '',
                label: '',
                spanLabel: '',
                placeholder: 'Variant Value',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: true,
                inputGroup: false,
                clickMessage: '',
                errorMessage: exitstErrorMessage,
                enableFocusBlurTracking: false,
              }"
                #variantValue
              >
                <i class="fa-solid fa-text-width"></i>
              </app-input>

              <div class="colorPickerContainer" *ngIf="showColorPickerContainer">
              <!-- <input
                [colorPicker]="value"
                [style.background]="value"
                [cpToggle]="showColorPicker[index]"
                (click)="toggleColorPicker(index)"
                (colorPickerChange)="onColorChange($event, index);"
                (colorPickerClose)="hideColorPicker(index)"
                class="circle-picker rounded-2"
                #colorPick
              /> -->
                <app-color-picking   [ColorPickingData]="{
                value:value,index:index,values:values} "#colorPick></app-color-picking>
            </div>
            </div>
          </div>

          <div class="ps-2 align-self-start pt-3 pt-sm-0" *ngIf="values().length > 0" (click)="removeValue(index)">
            <i class="fa-regular fa-trash-can text-secondary cursor-pointer"></i>
          </div>
        </div>
      </ng-container>
      <div class="p-2 mt-2 text-center bg-secondary  text-white fs-verySmall  rounded-2 d-flex align-items-center justify-content-center" *ngIf="!insertVariantNewValue"    (click)="showNewValueInput()">
        <i class="fa-solid fa-plus fa-sm pe-2"></i>
         <span> {{'Add Another Value' | translate}}</span>
       </div>
        <div class="p-2 mt-2 text-center bg-secondary  text-white fs-verySmall  rounded-2 d-flex align-items-center justify-content-center" *ngIf="insertVariantNewValue" (click)="addNewValue()">
        <i class="fa-solid fa-plus fa-sm pe-2"></i>
         <span> {{'Add' | translate}}</span>
       </div>
     </div>
   </div>
</div>
 <div>
 <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between">
   <div class="p-2 text-center bg-danger  text-white fs-verySmall rounded-2 d-flex align-items-center justify-content-center" (click)="deleteVariant()">
        <i class="fa-solid fa-plus fa-sm pe-2"></i>
         <span>{{'Delete Product Varaiant' | translate}}</span>
       </div>
   <div class="p-2 mt-1 mt-sm-0 text-center bg-semi-dark text-white fs-verySmall rounded-2 d-flex align-items-center justify-content-center" (click)="addVariant()">
      <i class="fa-solid fa-plus fa-sm pe-2"></i>
      <span> {{'Add Product Variant' | translate}}</span>
  </div>
 </div>
  </div>
