@use "variables" as *;
.values {
  min-height: 40px;
}
.inputValue{
  padding-left:.4rem !important;
  padding-right:.4rem !important;
}
.circle-picker {
  width: 25px;
  height: 15px;
}
.colorPickerContainer{
  position: absolute;
  right :6px;
  top:1%;
}

.badge {
  font-size: 12px !important;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color:$semi-dark !important;
  color: white;
  padding: 6px 14px !important;
  border-radius: 5px !important;
  font-weight: 300 !important;
}

.cursor-pointer {
  cursor: pointer;
}
