  <div class="col-12 paymentButtons">
        <div class="row gy-2">
          <div class="col-12">
            <button class="btn w-100 bg-dark text-light py-3" (click)="pay_Order()">{{'Pay' | translate}}</button>
          </div>

          <div class="col-12">
            <div class="row gx-2">
              <div class="col-6">
                <button class="btn w-100 bg-secondary text-light py-3" (click)="hold_Order()">{{'Hold' | translate}}</button>
              </div>
              <div class="col-6">
                <button class="btn w-100 bg-danger text-light py-3" (click)="cancal_Order()">{{'Cancal' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
