<app-pop-screen
     [PopScreenComponentData]="{
      headerLabel:'Return Order',
      btnLabel:'Done',
      hideCancalBtn:true
    }"
  (doneChange)="done()"
  (closeChange)="close()"
  #addDetailsAlert
>
<div class="bg-white p-4">
<app-input
   [InputComponentData]="{
                type: 'text',
                id: 'returnOrderByCode',
                label: 'Enter Order Code',
                spanLabel: '',
                placeholder: '',
                vertCLass: 'col-12',
                readonly: false,
                hideLabel: false,
                inputGroup: false,
                clickMessage: '',
                errorMessage: errorMessage,
                enableFocusBlurTracking:true,
              }"
        (input)="clearErrorMessage()"
        #orderCode>
<i class="fa-solid fa-magnifying-glass" ></i>
</app-input>
</div>
</app-pop-screen>

