<div class="summary border-top py-3">
<h6 class="text-decoration-underline mb-3">Order Summary</h6>
<div class="container-fluid px-0">
  <div class="row  g-3">
     <div class="col-12 col-md-6 col-lg-12 col-xl-6">
      <div class="row">
        <div class="col-6 text-start">
          <span>Net Total :</span>
        </div>
        <div class="col-6 text-end">
            <span>{{netTotal()}} SAR</span>
        </div>
      </div>
    </div>
     <div class="col-12 col-md-6 col-lg-12 col-xl-6">
      <div class="row ">
        <div class="col-8 text-start ">
          <span class="ps-md-3 ps-lg-0 ps-xl-3 net-total-border">Net Total + Tax  :</span>
        </div>
        <div class="col-4 text-end">
            <span>{{netTotal() + tax()}} SAR</span>
        </div>
      </div>
    </div>
     <div class="col-12">
      <div class="row">
        <div class="col-6 text-start">
          <span>Gross Total :</span>
        </div>
        <div class="col-6 text-end">
            <span>{{grossTotal()}} SAR</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

