@use "variables.scss" as * ;
.net-total-border{

  border:none;
@media screen and (min-width : 768px) and (max-width : 992px){
  border-inline-start:2px solid $net-total-border;

}
@media screen and (min-width : 992px) and (max-width : 1200px){
  border:none;
}
@media screen and (min-width : 1200px){
    border-inline-start:2px solid $net-total-border;

}
}
